@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
html,
body {
    height: 100%;
    width: 100%;
    background: #000;
}

.ham {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0);
    display: block;
    position: relative;
    z-index: 999;
    font-family: "cwTeXYen", sans-serif;
}

.ham-origin {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
}

.ham-bar {
    height: 4px;
    width: 26px;
    position: absolute;
    background: rgb(41, 32, 173);
    margin: 1px 0 0 -13px;
    transition: all 0.5s;
    border-radius: 5px;
    font-family: "cwTeXYen", sans-serif;
}

.ham-bar::after {
    background: rgb(255, 255, 255);
}

.ham-bar--top {
    transform: translateY(-8px);
}

.ham-bar--bottom {
    transform: translateY(8px);
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~.ham .ham-bar--middle {
    opacity: 0;
}

#nav-toggle:checked~.ham .ham-bar--top {
    transform: rotate(-45deg);
    background: #fff;
}

#nav-toggle:checked~.ham .ham-bar--bottom {
    transform: rotate(45deg);
    background: #fff;
}


/* Nav Style */

.menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 90px 20px 15px 20px;
    background: rgba(150, 160, 180, 0.8);
    /* 用 translate 把選單藏到畫面右邊去 */
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 99;
}

#nav-toggle:checked~.menu {
    transform: none;
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item+.menu-item {
    margin-top: 0px;
}

.menu-item {
    padding: 20px 40px;
    border-top: 1px solid #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.menu-item:last-child {
    border-bottom: 1px solid #fff;
}

.menu-link {
    text-decoration: none;
    color: white;
}


/* Box styles */

.box {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    /*水平置中*/
    align-items: center;
    /*垂直置中*/
}

.box:after {
    padding-top: 56.28%;
    /*1:2 ratio*/
    display: block;
    content: "";
}

.chatbox {
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    /*水平置中*/
    align-items: center;
    /*垂直置中*/
}

.chatbox2 {
    height: 100%;
    width: 60%;
    background-image: url(../img/chatboxBg.png);
    background-size: cover;
    left: 0;
    bottom: 0;
}

.chatbox2 p {
    font-size: 1rem;
    margin-top: 10%;
    padding-left: 24%;
    padding-right: 8%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.chatbox2 p.chatboxBtn {
    text-align: right;
    margin: 0;
    padding: 0;
    padding-right: 8%;
    color: rgb(29, 156, 135);
}


/* Style that should be applied to the box content */

.info {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/indexBg.png);
    background-size: cover;
    overflow: hidden;
}

.infoTitle {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
}

.infoTitle img {
    width: 100%;
    height: 100%;
    display: inline;
}

.vid03 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    display: inline-block;
}

.indexMenu {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    display: inline-block;
}

.indexMenu img {
    height: 97%;
    width: auto;
    display: inline-block;
}

.zindex-2 {
    z-index: 2;
}

.zindex-3 {
    z-index: 3;
}

.zindex-4 {
    z-index: 4;
}

.zindex-5 {
    z-index: 5;
}

.zindex-6 {
    z-index: 6;
}

.zindex-7 {
    z-index: 999;
}

.aMask1 {
    position: absolute;
    display: inline-block;
    width: 12%;
    height: 33%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    top: 30%;
    left: 30%;
}

.modal-ku {
    width: 80%;
}

.myModal2 {
    background-image: url(../img/hamBg.png);
    background-size: cover;
    color: #fff;
    min-height: 80%;
    border-radius: 20px;
}

.myModal button {
    color: #fff;
}

.ham-bar--top2 {
    transform: translateY(-8px);
    transform: rotate(-45deg);
    background: #fff;
}

.ham-bar--bottom2 {
    transform: translateY(8px);
    transform: rotate(45deg);
    background: #fff;
}

.ham-origin2 {
    position: absolute;
    box-sizing: content-box;
    top: 100%;
    right: 3%;
    z-index: 999;
}

.modal-header2 {
    position: relative;
    padding: 1rem 1rem;
}

.bodyInfo {
    padding: 0 23%;
}

.bodyInfo h1 {
    font-family: "cwTeXYen", sans-serif;
    font-size: 2.4rem;
    padding: 1rem 0 2rem 0;
    font-weight: 500;
    text-align: center;
}

.bodyInfo p {
    font-family: "cwTeXYen", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.8rem;
}

.loadpng {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.loadpng img {
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}